@font-face {
	font-family: "CursedTimer";
	src: url("CursedTimerUlil-Aznm.ttf");
}
* {
	margin: 0;
	padding: 0;
}
body {
	background: #212c5b;
	color: white;
	font-family: "CursedTimer", sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container {
	background: #1b244a;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 60%;
	margin: 25% 0;
	border: 2px solid white;
	border-radius: 10px;
	position: relative;
}
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 4rem;
}
.controls {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.control-btn {
	border: 2px solid white;
	border-radius: 10%;
	box-shadow: 0px 0px 2px white;
	width: 8em;
	height: 5rem;
	font-weight: bold;
	text-shadow: 0px 2px 2px black;
	cursor: pointer;
	margin: 2em auto;
}
.control-btn p {
	padding: 30px 0;
	width: 100%;
}
#fire:hover {
	background-image: url("fire.gif");
	background-size: cover;
}
#cheers:hover {
	background-image: url("fireworks.gif");
	background-size: cover;
}
#winner {
	position: absolute;
	top: 60px;
	font-size: 2.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: 0px 0px 2px black;
}
.score {
	border-radius: 10%;
	text-shadow: 2px 2px 2px black;
	padding: 50px;
	width: 25%;
}
.score p {
	background: black;
	color: #f44242;
	padding: 15%;
	border-radius: 10%;
	margin: 3rem auto;
	font-size: 8rem;
}
.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.btn-nr {
	border: 2px solid white;
	border-radius: 10%;
	font-size: 2rem;
	padding: 0.4em;
	box-shadow: 0px 0px 2px white;
	cursor: pointer;
}
.btn-nr:hover {
	background: white;
	color: #1b244a;
	border: 2px solid #1b244a;
	box-shadow: none;
}
.btn-nr:active {
	background: #1b244a;
	color: white;
}

@media (max-width: 1500px) {
	body {
		height: 100vh;
	}
	.score {
		margin: 15px;
	}
	.btn-nr {
		padding: 15px;
		margin: 0 5px;
		font-size: 2.5rem;
	}
	.container {
		height: 70%;
		width: 80%;
		flex-flow: wrap;
		text-align: center;
	}
}
@media (max-width: 1300px) {
	body {
		height: 100vh;
	}
	.btn-nr {
		margin: 0 5px;
	}
	.container {
		height: 80%;
		width: 100%;
		flex-flow: wrap;
		text-align: center;
	}
	.score {
		width: 30%;
	}
}
@media (max-width: 1000px) {
	body {
		background: #1b244a;
	}
	.score {
		height: 80%;
		width: 60%;
	}
	.container {
		border: none;
		width: 60%;
	}
}
@media (max-width: 400px) {
	body {
		background: #1b244a;
	}
	.container {
		margin-top: 0;
		width: 100%;
		border: none;
	}
	#winner {
		top: 30px;
		padding: 0;
		margin: 0;
	}
	.score {
		width: 60%;
	}
}
